.button {
    background-color: #dd0e0e;
    color: rgb(231, 0, 0);
    transition: background-color 0.3s ease;
}

.infos {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: aliceblue;
    width: 300px;
}